<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\employee-election\employee-election-backend\employee-election-env\Scripts\python.exe|C:\employee-election\employee-election-backend\employee-election-env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
